/*-- scss:rules --*/
.btn-our-doc {
    cursor: pointer;
    background: #0f62fe !important; /* IBM primary blue color */
    color: white;
    border-radius: 999em;
    align-items: center;
    gap: .5em;
    font-size: 16px;
    padding: 1.5rem;
    margin-top: 110px;
}


.btn-external-link {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5rem;
    border-radius: .5em;
    padding: 1rem;
    box-shadow: blue;
    position: relative;
    border-color: #e4e4e7;
    padding-right: 200px;
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 2rem;
    }
}